<div class="section">

    <div class="container">
        <div class="row">
            <a routerLink="/crear_persona" class="button">Crear Persona</a>
        </div>
        <div class="row">
            <ul>
                <li *ngFor="let elemento of elementos | async; index as i; first as f">
                    {{i}}
                    {{elemento | json}}
                    <a href="/{{ elemento.nombre }}"> {{ elemento.nombre.toUpperCase() }}</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li *ngFor="let e of fakes| async">
                    {{e | json}}
                </li>
            </ul>
        </div>
    </div>
</div>