<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
    <a routerLink="/" 
      class="navbar-item" 
      routerLinkActive="is-active" 
      [routerLinkActiveOptions]="{exact:true}"
      >
      Home
    </a>
    <a routerLink="contacto" class="navbar-item" routerLinkActive="is-active">Contacto</a>
    <a routerLink="personas" class="navbar-item" routerLinkActive="is-active">Personas</a>
    <a routerLink="articulos" class="navbar-item" routerLinkActive="is-active">Artículos</a>
  </div>
</nav>

<router-outlet></router-outlet>